@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@font-face {
    font-family: "covered";
    src: url(../Fonts/covered-by-your-grace/CoveredByYourGrace.ttf);
}
body{
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}
/* header starts here */
.header{
    display: flex;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
}
.left-side h2{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 8px 0 8px 30px;
    color: #20292f;
    font-size: 1.8rem;
}
.nav-sec{
    margin-left: auto;
}
.nav-list{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 20px 30px 20px 0;
}
.nav-list > li > a{
    text-decoration: none;
    color: #20292f;
    padding: 0 20px;
    font-weight: 550;
    font-family: 'Poppins', sans-serif;
}
.nav-list > li > a:hover{
    color: #089900;
}
.nav-list > li:last-child{
    font-size: 25px;
    cursor: pointer;
}

/* header ends here */

/* body starts here */


.banner-wrap{
    height: 1560px;
}
.banner-section{
    background-image: url(../Images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    height: 800px;
    position: relative;
}
.logo{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: flex-end;
    margin-bottom: 80px;
}
.logo > h4{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 3px; 
    font-weight: 700;
    color: #20292f; 
}

.grid-container{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "null"
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight"
    "nine"
    "ten"
    "empty"
    "eleven";
}
.grid-one{
    background-color: #F9C229;
    grid-area: one;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 14px;
    color: #20292f;
}
.grid-two{
    grid-area: two;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    gap: 15px;
}
.grid-two > a{
    text-decoration: none;
    color: #F9C229;
    font-size: 28px;
}
.grid-two > address{
    font-style: normal;
    font-weight: 100;
    color: #565656;
}
.grid-three{
    grid-area: three;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid-three > h6,
.grid-five > h6,
.grid-eight > h6,
.grid-ten > h6{
    font-size: 20px;
    letter-spacing: 2px;
    color: #20292f;
    margin: 0;
}
.grid-three > p,
.grid-five > p,
.grid-eight > p,
.grid-ten > p{
    font-size: 16px;
    padding: 0 20px;
    line-height: 25pt;
    text-align: center;
    color: #565656;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.price{
    color: #7BAE43 !important;
    text-align: center;
    font-weight: 600;
}
.grid-four, .grid-four *{
    grid-area: four;
    height: 100%;
    width: 100%;
}
.grid-five{
    grid-area: five;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid-six, .grid-six *{
    grid-area: six;
    height: 100%;
    width: 100%;
    
}
.grid-seven, .grid-seven *{
    grid-area: seven;
    height: 100%;
    width: 100%;
}
.grid-eight{
    grid-area: eight;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid-nine, .grid-nine *{
    grid-area: nine;
    height: 100%;
    width: 100%;
}

.grid-ten{
    grid-area: ten;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid-eleven{
    background-color: #000;
    grid-area: eleven;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 15px;
    color: #fff;
}
@media  (min-width: 1100px) {
    .grid-container{
        grid-template-areas: 
        'null one two two'
        'three four five six'
        'three four five six'
        'seven eight nine ten'
        'seven eight nine ten'
        'empty empty empty eleven';
    }
}

.parallex-sec{
    display: flex;
    justify-content: space-evenly;
    background-color: #f4f2ed;
}
.yellow{
    width: 300px;
    height: 1000px;
    background-color: #F9C229;
    margin: 0 auto;
    display: block;
    position: relative;
}
.hand-img{
    position: relative;
    bottom: 750px;
}
.about-box{
    position: relative;
}
.about-box>a{
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    padding: 45px 16px;
    position: relative;
    bottom: 379px;
    left: 370px;
    text-decoration: none;
}
.about-write{
    margin-top: 50px;
}
.about-write>h3{
    font-family: "covered";
    font-size: 75px;
    color: #333;
    letter-spacing: 5px;
    line-height: 1.2rem;
    font-weight: 500;
    margin-left: 70px;
}
.about-write>p{
    text-align: left;
    line-height: 2rem;
    width: 55%;
    /* font-size: 18px; */
    color: #666;
    margin-left: 70px;
}
.private-sec-wrap{
    margin: 0 auto;
    display: flex;
    position: relative;
    top: -450px;
}
.left-private-sec{
    width: 50%;
}
.right-private-sec{
    width: 50%;
}
.big-img{
    height: 1300px;
    aspect-ratio: 0.412;
    background-image: url(../Images/pasta_08-scaled.jpg);
    background-size: cover;
    background-position: center;
}
.private{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* margin-bottom: auto; */
    background-color: #efece4;
    width: 70%;
    float: right;
    height: 630px;
}
.private-write{
    padding: 0 30px;
}
.private-write>h5{
    font-family: 'covered';
    font-size: 75px;
    color: #333;
    letter-spacing: 5px;
    font-weight: 500;
    /* text-align: center; */
    margin-top: 30px;
    margin-bottom: 0;
}
.private-write>p{
    color: rgb(102,102,102);
    line-height: 2em;
    margin-bottom: 40px;
}
.pasta-09{
    background-image: url(../Images/pasta_09.jpg);
    width: 50%;
    height: 184px;
    background-size: cover;
    position: relative;
    bottom: 60px;
}
.white-div{
    background-color: #fff;
    width: 45%;
    padding: 11px 43px;
    position: relative;
    /* right: 10px; */
    left: 280px;
    top: 15px;
}
.white-div>p{
    color: rgb(102,102,102);
    line-height: 2rem;
}
.book{
    background-color: #000;
    width: 35%;
    text-align: center;
    height: 100px;
    position: relative;
    top: 13px;
    left: 45px;
}
.book>a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.delivery-sec-wrap{
    display: flex;
    position: relative;
    bottom: 280px;
}
.left-delivery-sec{
    width: 60%;
    background-color: #f4be28;
    padding-bottom: 155px;
}
.right-delivery-sec{
    padding: 100px 0;
}
.swiper {
    width: 600px;
    height: 300px;
}
.swiper-slide>p{
    text-align: center;
    font-family: 'covered';
    font-size: 32px;
    color: #333;
    width: 50%;
    display: block;
    margin: 0 auto;
}
.swiper-pagination{
    bottom: 190px !important;
}
.swiper-pagination-bullet-active{
    background-color: #000;
}
.swiper-button-prev{
    left: 45px;
    top: 15%;
    /* display: none; */
}

.swiper-button-next{
    right: 45px;
    top: 15%;
}
.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: 20px;
    color: #333;
    font-weight: 700;
    display: block;
    cursor: pointer;
}
.delivery-contents{
    float: right;
    width: 60%;
    padding-right: 25px;
}
.delivery-contents>h3{
    font-family: 'covered';
    font-size: 80px;
    width: 50%;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 70pt;
    margin-top: 90px;
    margin-bottom: 20px;
}
.delivery-contents>p{
    width: 91%;
    line-height: 2em;
    color: #333;
}
.pasta-delivery{
    background-image: url(../Images/pasta_10.jpg);
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 355px;
    aspect-ratio: 1.66;
    position: relative;
    left: 620px;
    top: 400px;
    z-index: 2;
}
.place{
    background-color: #fff;
    padding: 20px 45px;
    text-align: center;
    width: 23%;
    height: 85px;
    position: relative;
    top: 50px;
    right: 237px;
    z-index: 1;
}
.place>a{
    color: #000;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%
}
/* body ends here */

/* footer starts here */
footer{
    margin-top: 75px;
}
.foot-box{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    padding-bottom: 70px;
}
.left-foot-box{
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 40%;
}
.img-box{
    margin-right: 80px;
}
.img-box>img{
    height: 125px;
}
.img-box>p{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 3px;
    color: #333;
}
.hours{
    font-weight: 700;
    color: #333;
    font-size: 15px;
    letter-spacing: 3px;
    margin-top: 0;
}
.details-box>ul{
    list-style-type: none;
    padding-left: 0;
}
.details-box>ul>li{
    padding: 7px 0;
    font-size: 14px;
    color: #666;
}
.details-box>ul>li>span{
    font-weight: 700;
}
.contact{
    font-weight: 700;
    color: #333;
    font-size: 15px;
    letter-spacing: 3px;
    margin-top: 30px;
}

.phone{
    font-size: 30px;
    text-decoration: none;
    color: #f4be28;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
}
.web-address{
    text-decoration: none;
    color: #666;
}
.right-foot-box{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.top-right{
    display: flex;
    gap: 135px;
}
.address-box>p{
    font-weight: 700;
    color: #333;
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 8px;
    margin-top: 0;
}
.address-box>address{
    font-style: normal;
    font-size: 14px;
    color: #666;
    line-height: 1.6rem;
}
.follow-box>p{
    font-weight: 700;
    color: #333;
    font-size: 15px;
    letter-spacing: 3px;
    margin-top: 0;
}
.follow-box>a{
    padding-right:20px;
    display: inline-block;
    padding-top: 10px;
}
.follow-box>a>i{
    color: #333;
    transition: 0.2s;
}
.follow-box>a>i:hover{
    color:#089900;
}
input[type=email]{
    border: none;
    outline: none;
}
input[type=email]::placeholder{
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 600;
}
.email-input::after{
   content: "";
   width: 100%;
   height: 1.5px;
   background-color: #000;
   display: block;
   position: relative;
   top: 22px;
}
.subs{
    margin-top: 50px;
}
.subs>button{
    width: 100%;
    padding: 20px;
    border: none;
    background-color: #000;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 600;
    cursor: pointer;
}
.copyright{
    background-color: #000;
    text-align: center;
}
.copyright>p{
    margin: 0;
    padding: 15px;
    color: #888;
    font-size: 14px;
}
.copyright>p>a{
    text-decoration: none;
    color: #f4be28;
}

@media(max-width:430px) {
    *{
        width: 100%;
    }
    .pasta-09{
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    .private{
        background-color: #f5f3ee;
        width: 80%;
        margin: 0 auto;
    }
    .private>h5{
        font-family: "covered";
        font-size: 33px;
        color:#333;
        font-weight: 100;
        letter-spacing: 5px;
        line-height: 1.2rem;
        margin-top: 0;
        margin-bottom: 20px;
        padding-top: 80px;
        padding-left: 20px;
    }
    .private>p{
        line-height: 2em;
        color: #666;
        width: 90%;
        margin: 0 auto;
        font-size: 14px;
        font-weight: 500;
        font-family:Open Sans,Arial,sans-serif;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        vertical-align: baseline;
        padding-bottom: 30px;
        padding-left: 15px;
    }
    .white-div{
        width: 80%;
        margin: 0 auto;
    }
    .white-div>p{
        font-size: 14px;
        font-weight: 500;
        font-family:Open Sans,Arial,sans-serif;
        line-height: 2rem;
        margin: 0 auto;
        color: #666;
        padding-top: 30px;
        width: 83%;
    }
    .book{
        background-color: #000;
        width: 177px;
        height:110px;
        margin-left: auto;
        margin-right: 40px;
    }
    .book>a{
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-family:Open Sans,Arial,sans-serif;
        margin: auto auto;
        display: block;
        padding-top: 50px;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 5px;
    }
    .big-img{
        width: 80%;
        margin: 0 auto;
        display: block;
    }
}